 button.jove-info-toggle {
    border: 0;
    background: none;
    padding: 0;
    margin: 0;
}
.single-video .single-video-mobile-search, .single-video .single-video-mobile-search label.wp-block-search__label {
    display: none;
}
footer.site-footer .wp-block-group .wp-block-columns {
    width: 100%;
}
footer.site-footer .wp-block-group ul.wp-block-list li a {
    color: #ffffff;
}
footer.site-footer .wp-block-group.jove-top-footer {
    justify-content: space-between !important;
    gap: 20px;
        /* padding-bottom: 15px; */
}
footer.site-footer .wp-block-group.jove-top-footer .wp-block-group.is-nowrap.wp-block-group-is-layout-flex {
    gap: 12px;
}
/* .jove-years-slider-track {
    background: #565656;
}
.jove-years-range-values span{
    padding: 8px 6px;
} */
 .select2-container--open .select2-dropdown{
    border: 0;
 }


/* tooltip - search page */
 .jove-search-video-meta .jove-notice__text {
    width: auto;
    left: 0;
    right: auto;
    top: auto;
    bottom: 35px;
}
.jove-info-wrapper a{
    text-decoration: none;
}
.jove-search-video-meta  .jove-notice__text:after{
    display: none;
}
.jove-info-wrapper a.jove-info-toggle {
    display: inline-block;
    max-width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #565656 !important;
    vertical-align: bottom;
    position: relative;
    font-weight: 500;
}
.jove-search-video-meta .jove-info-wrapper .jove-notice__text p{
    font-weight: 500;
}
.single-video header .wp-block-group.wp-container-core-group-is-layout-1  {
    gap: 12px;
}


.single-video #popup-info button.mfp-close {
    display: none;
}

.jove-years-slider-wrapper{
        left: -3px;
}

.single-video .jove-footer-widgets .wp-block-columns.wp-block-columns-is-layout-flex {
    border-bottom: 0 !important;
}

.single-video .jove-affiliations-accordion__content ul.jove-abstract-block__affiliations{
    display: inline-block;
}

.single-video ul.is-style-list-inline-sept li:before, .search-results ul.is-style-list-inline-sept li:before{
    background: none;
}

footer.site-footer .wp-block-group.jove-top-footer ~ .jove-footer-widgets.wp-block-group-is-layout-constrained .wp-block-columns.alignwide.is-not-stacked-on-mobile {
    /* padding-bottom: 16px; */
}
.single-video .artical-metapost-data ~ .wp-block-column.is-layout-flow.wp-block-column-is-layout-flow{
            padding-top: 0;
        border: 0;
        margin: 0 !important;
}
.jove-years-range-values span{   padding: 8px 5px 7px;}
.jove-years-slider-wrapper{
    width: -webkit-calc(100% - 117px);
}

/*.single-video .jove-abstract-block__entry-content {
    margin-top: -24px;
}*/
.clear-all-filters.clear-all-filters--bottom button#jove-apply-all-filters__btn {
    display: none;
}
body.home .jove-cta-block>.jove-cta-block__innerblocks>.wp-block-columns {
    padding-top: 48px !important;
}
.search-results .jove-years-slider-wrapper input#min{
        left: -22px;
}
.search-results .jove-years-slider-wrapper input#max{
    right: -28px;
}

/*.search-results .jove-years-slider-track{
    left: 9px !important;
}*/

.jove-search-heading .jove-search-heading-filter select {
    font-weight: 600;
    margin-left: 4px;
}

.wp-block-column.jove-cta-block-wrap.is-layout-flow.wp-block-column-is-layout-flow:nth-child(2) .wp-block-media-text__content p {
    line-height: 1.2 !important;
}
.jove-notice__text p a{
    text-decoration: underline !important;
}

.loding {
    text-align: center;
    padding: 10px 0;
}

.jove-search-heading-filter .select2.select2-container {
    width: 120px !important;
}

.jove-search-heading-filter .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
        visibility: visible;
}


.jove-search-heading-filter .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 20px;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 20px;
}

.jove-search-heading-filter .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: none;
    border-radius: 0px;
}

.select2-container--default .select2-results__option {
    background-color: #fff !important;
    border-bottom: 1px solid #cdcdcd;
    text-align: center;
}

.select2-container--default .select2-results__option:last-child {
    border-bottom: none !important;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 200px;
    overflow-y: auto;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
}

.jove-search-heading-filter .select2-container--default .select2-selection--single .select2-selection__arrow b {
    background: url(../images/select-arrow.png) no-repeat center;
    border: none;
    width: 12px;
    height: 6px;
}
.single-video .jove-experiment-video-block__lists_no_results .jove-experiment-video-block__content{
    padding-top: 20px !important;
}
.single-video .jove-experiment-video-block__lists.jove-experiment-video-block__lists_no_results{
        height: 410px !important;
        padding-bottom: 0
}
.search-results .jove-search__filter-wrapper .jove-search__filter-left-col {
    margin-bottom: 24px;
}
.search-results .select2-container--default .select2-results__option{
text-align: start;
}
.jove-experiment-video-block__heading .jove-notice__text, .jove-search-video-meta .jove-notice__text
{
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.jove-experiment-video-block__heading .jove-info-wrapper:hover .jove-notice__text, .jove-info-wrapper .jove-notice__text{
 -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.single-video .jove-abstract-block__journal {
    max-width: 500px;
}

.single-video .jove-abstract-block__journal .text-content {
display: inline-block;
white-space: nowrap;
overflow: hidden;
/* text-overflow: ellipsis; */
vertical-align: middle;
max-width: 400px;
}

.single-video .jove-abstract-block__journal.expanded .text-content {
white-space: normal;
overflow: visible;
text-overflow: unset;
}

.single-video .jove-abstract-block__journal .read-toggle {
    margin-left: 5px;
    user-select: none;
    display: none;
}

/*  */

@media only screen and (max-width:1199px){
    footer.site-footer .wp-block-group.jove-top-footer ~ .jove-footer-widgets.wp-block-group-is-layout-constrained .wp-block-columns.alignwide.is-not-stacked-on-mobile {
        padding-bottom: 0;
    }
}
@media (min-width: 600px) and (max-width: 1199px){
    .search .jove-search-heading{
        flex-direction: column;
        row-gap: 10px;
    }
    .search .jove-search-heading .jove-results-count{
        padding-bottom: 0;
    }

}
@media only screen and (max-width:921px){    
   
     header .wp-block-group.wp-container-core-group-is-layout-1 figure img, footer.site-footer .wp-block-group.jove-top-footer figure img{
        height: 32px !important;
        width: auto !important;
    } 
    .single-video .artical-metapost-data ~ .wp-block-column.is-layout-flow.wp-block-column-is-layout-flow{
        display: block !important;
        padding-top: 0;
        border: 0;
        margin: 0 !important;
    }
    .single-video .jove-abstract-block__entry-content {
        margin-top: 0;
    }
    .clear-all-filters.clear-all-filters--bottom button#jove-apply-all-filters__btn {
        display: block;
    }
  .search-results  jove-filters.inner-filter.show .clear-all-filters.clear-all-filters--bottom {
        display: flex !important;
        gap: 10px;
    }
   .search-results  jove-filters.inner-filter.show jove-clear-all-filters button{
        width: 50% !important;
        padding: 12px !important;
        line-height: 16px !important;
    }
    .clear-all-filters.clear-all-filters--bottom button#jove-apply-all-filters__btn, .clear-all-filters.clear-all-filters--bottom button.jove-clear-all-filters__btn{

        box-shadow: none;
        border: 1px solid #213CED;
        background-color: #213CED;
        border-radius: 8px;
        opacity: 1;
        color: #ffffff;
        outline: none;
        line-height: 18px !important;
        cursor: pointer;
        font-size: 14px;
    }
    .clear-all-filters.clear-all-filters--bottom button.jove-clear-all-filters__btn{
        background-color: transparent;
        color: #213CED;
    }
    .clear-all-filters.clear-all-filters--bottom button#jove-apply-all-filters__btn:disabled, .clear-all-filters.clear-all-filters--bottom button.jove-clear-all-filters__btn:disabled
    {
        opacity: 0.5;
        cursor: no-drop;
    }
    .inner-filter .clear-all-filters--top button.jove-clear-all-filters__btn {
        display: none;
    }
    .search-results .jove-search__filter-wrapper .jove-search__filter-left-col {
        margin-bottom: 0;
    }
}
@media only screen and (max-width:767px){
     .single-video .single-video-mobile-search {
        display: block;
        padding: 24px 20px 0 !important;
    }
    .single-video .single-video-mobile-search input {
        border-radius: 8px 0 0 8px !important;
        font-size: 12px;
    }
    .single-video-mobile-search input , 
    .single-video  .single-video-mobile-search button.wp-block-search__button, 
    .jove-search-block .wp-block-search__inside-wrapper input, .home button.wp-block-search__button.wp-element-button , .jove-hero-search-block .wp-block-search__inside-wrapper input, .home input#wp-block-search__input-1
    {
        height: 40px !important;
    }
    .single-video .single-video-mobile-search input::placeholder{
        font-size: 12px;
    }
    .single-video-mobile-search button.wp-block-search__button{
        background: #213ced;
        border-radius: 0 8px 8px 0 !important;
        margin: 0;
        height: 40px;
        min-width: 75px;
    }
    .jove-info-wrapper a.jove-info-toggle {
        max-width: 200px;
    }
    .single-video .wp-block-button a.wp-block-button__link {
        border-radius: 8px !important;
        border: 0;
        line-height: 16px;
    }
    body.single-video header {
        border-bottom: 0;
    }
    body.single-video header header{
        padding: 16px 24px !important;
    }
    .single-video .jove-abstract-block__entry-header {
        position: sticky;
        top: 45px;
        z-index: 2;
        background-color: #fff;
    }
    .single-video .jove-abstract-block__entry-content {
        margin-top: 0;
        gap: 0 !important;
    }
    nav.jove-pagination .current{
        background: #F4F5FF;
        border: 1px solid #E8E8E8;
        border-radius: 2px;
        padding: 2px 6px;
        line-height: 16px;
    }
    nav.jove-pagination {
        line-height: 24px;
    }
    body.single-video  .jove-main-content .wp-block-acf-breadcrumbs{
        position: relative;
    }
    form.jove-hero-search-block .wp-block-search__inside-wrapper input{
        border-radius: 8px 0 0 8px !important;
    }
    .home button.wp-block-search__button.wp-element-button {
        border-radius: 0 8px 8px 0 !important;
        font-size: 12px;
        font-weight: 400;
    }
    .home .wp-block-media-text__content p {
        color: #565656 !important;
    }
    .home .jove-cta-block-wrap.wp-block-column-is-layout-flow{
        padding: 24px 20px !important;
    }
    body.home .jove-cta-block>.jove-cta-block__innerblocks>.wp-block-columns {
        padding-top: 6px !important;
    }
}
@media only screen and (max-width:600px){
    .single-video div.wp-block-acf-breadcrumbs {
        padding-top: 20px !important;
    }

    body.home header{
        border-bottom: 0;
    }
    body.single-video  .jove-main-content .wp-block-acf-breadcrumbs{
        position: sticky;
        top: 55px;
        z-index: 3;
    }
    body.single-video header, body.search-results  header{ 
        position: sticky;
        top: 0;
        z-index: 3;
        border-bottom: 0;
    }
    body.single-video .jove-abstract-block__entry-header{
        position: sticky !important;
        z-index: 2;
        top: 110px;
        padding-bottom: 10px;
    }
    body.single-video .alignwide.wp-block-acf-abstract{
        overflow: visible;
    }
    .search.search-results .jove-search__filter-left-col {
        position: sticky !important;
        z-index: 4;
        top: 144px;
    }
   .search-results div.search-pg-bar {
        position: sticky;
        top: 66px;
        z-index: 3;
    }
    figure.jove-popup-video-btn{
        width: 38px;
        height: 38px;
    }
    .home .select2-container span.select2-dropdown.select2-dropdown--above .select2-results {
        border: 1px solid #f0f0f0;
    }
    .single-video .jove-concept-video-block{
        padding: 15px 0 24px !important;
    }
}
@media only screen and (max-width:575px){
    .single-video header .wp-block-group.wp-container-core-group-is-layout-1 {
        gap: 8px;
    }
    footer.site-footer .wp-block-group h2.wp-block-heading {
        display: inline-block;
        width: auto !important;
    }
    footer.site-footer .wp-block-group h2.wp-block-heading:after{
        right: -20px;
        content: "";
    }
    .site-footer>footer>.jove-footer-menu.wp-block-group {
        margin-top: 0;
    }
    footer.site-footer.wp-block-template-part footer.wp-block-group {
        padding: 45px 35px !important;
    }
    
    /* a.jove-prev-page {
        margin-right: 20px;
    }
    a.jove-next-page {
        margin-left: 20px;
    } */
    .single-video .wp-block-column.is-layout-flow.wp-block-column-is-layout-flow a.jove-experiment-video-block__list, 
   .single-video  .wp-block-column.is-layout-flow.wp-block-column-is-layout-flow a.jove-experiment-video-block__list figure,
   .single-video  .jove-concept-video-block .jove-concept-video-block__container a.jove-concept-video-block__list, .single-video .jove-concept-video-block .jove-concept-video-block__container a.jove-concept-video-block__list figure {
        border-radius: 8px;
    }
    .single-video .jove-abstract-block__description__text p {
        font-size: 14px !important;
    }
   .single-video .jove-abstract-block__keywords a {
        padding: 8px 16px;
        line-height: 14px;
    }
    .single-video .jove-concept-video-block__container .jove-concept-video-block__lists {
        gap: 24px;
    }
    footer.site-footer.wp-block-template-part footer.wp-block-group .wp-block-group.jove-footer-widgets .alignwide {
        border-bottom: 0;
        padding: 0;
    }
    .single-video .artical-metapost-data ~ .wp-block-column.is-layout-flow.wp-block-column-is-layout-flow{
        border-bottom: 1px solid #E8E8E8;
    }
    .inner-filter jove-accordion.jove-accordion label , .jove-accordion__handle-text label {
        text-transform: capitalize;
        color: #565656;
        font-size: 14px;
    }
    
    .jove-search__filter-left-col .select2-container--default .select2-selection--multiple{
        padding: 0 !important;
    }
   .search-results .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple, 
   .search-results  .select2-container--default.select2-container--open.select2-container--above .select2-selection--single{
            border-radius: 4px !important;
    }
    .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple, .select2-container--default.select2-container--open.select2-container--below .select2-selection--single{
        border-radius: 4px !important;
    }
    .select2-container--default .select2-search--inline .select2-search__field{
        padding: 0px 12px;
    }
    .select2-container--default .select2-search--inline .select2-search__field::placeholder {
        line-height: 30px;
    }
    .single-video button.jove-info-toggle svg {
        width: 20px;
        height: 20px;
    }
    .single-video .jove-experiment-video-block__container {
        gap: 24px;
    }
    .single-video a.wp-block-button__link.wp-element-button{
        font-weight: 600;
        padding: 14px;
        font-size: 14px;
    }
    .single-video .jove-abstract-block__entry-content h2.jove-abstract-block__description__heading, .single-video .jove-abstract-block__keywords .jove-abstract-block__keywords__label{
        margin-bottom: 6px;
    }
    .jove-abstract-block__description__text{
        row-gap: 10px !important;
    }
    .single-video .jove-abstract-block__entry-content .jove-abstract-block__description__text p{
        margin-bottom: 15px !important;
    }
    .single-video .jove-concept-video-block{
        padding: 24px 0;
    }
    .single-video .jove-abstract-block__entry-content h3.wp-block-heading {
        font-weight: 500;
    }
    /* .jove-hero-search-block .jove-hero-search-block__innerblocks h2.wp-block-heading{
        font-size: 28px !important;
    } */
    /* .jove-hero-search-block .jove-hero-search-block__innerblocks h2.wp-block-heading strong{
        display: block;
    }
    .jove-hero-search-block .jove-hero-search-block__innerblocks h2.wp-block-heading br{
        display: none;
    } */
    /* .jove-hero-search-block .jove-hero-search-block__innerblocks h4.wp-block-heading{
        max-width: 90%;
    } 
   .home .jove-hero-search-block .jove-hero-search-block__innerblocks{
                padding: 35px 36px 27px !important;
    }*/
    div.jove-visualize-title p.has-text-align-center {
        /* font-size: 14px;
        line-height: 140%;
        max-width: 80%; */
        max-width: 315px;
        margin: 0 auto !important;
    }

    .wp-block-column.jove-visualize-title h2.wp-block-heading , .wp-block-column.start-home-search h2.wp-block-heading{
        font-size: 24px !important;
    }
    .video-section .wp-block-cover.has-aspect-ratio {
        border-radius: 12px !important;
    }
    .home .jove-cta-block-wrap .wp-block-media-text .wp-block-media-text__media{
        width: 26px;
    }
}

